html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e1f9e1;
}

#map-canvas {
	height: calc(100% - 100px);
	margin: 0;
	padding: 0;
}

#info {
	height: 80px;
	background-color: #33AD33;
	margin: 0;
	padding: 0;
	max-height: 80px;
}

.info_5{
	width: 20%;
}

.info_4{
	width: 25%;
}

.info_item {
	height: 80px;
	background-color:#008000;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	max-height: 80px;
}

.info_item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 95%;
	max-height: 55%;
}

.info_item p {
	text-align: center;
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-size: 20;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

#info.old .info_item, #graph_drop.old{
	background-color: #E0E0E0;
}

#graph{
	width: 100%;
	height: 100%;
}

img.loading{
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 50px;
}

pre.code_middle {
	text-align: center;
}

#graph_drop{
	background-color:#008000;
	height: 20px;
	position: relative;
}

#graph_drop img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#launcher{
	padding: 20px;
}

#launcher h1{
	font-family: 'Roboto', sans-serif;
	font-size: 400%;
	text-align: center;
	font-weight: 100; 
}
#launcher h2{
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	text-align: center;
	font-weight: 100; 
}

#launcher p{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300; 
}

#launcher th, #launcher td{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300; 
	border-style: solid;
	border-width: 1px;
}

#launcher th{
	font-weight: 400;
}

#launcher img#header{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
}

#launcher table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#launcher form input{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#launcher input[type="submit"]{
    font-family: 'Roboto', sans-serif;
	font-weight: 500; 
    color: #ffffff;
    font-size: 20px;
    background: #33AD33;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#launcher input[type="submit"]:hover{
    background: #66C266;
    text-decoration: none;
}
#launcher input[type="submit"]:disabled{
    background: #616161;
    text-decoration: none;
}
#launcher input[type="submit"]:active{
    position:relative;
    top:1px;
}